# Boardroom Agents submodules

[submodule "cmo-agent"]
	path = boardroom/c-suite/cmo-agent
	url = https://github.com/ASISaga/cmo-agent

[submodule "cso-agent"]
	path = boardroom/c-suite/cso-agent
	url = https://github.com/ASISaga/cso-agent

[submodule "ceo-agent"]
	path = boardroom/c-suite/ceo-agent
	url = https://github.com/ASISaga/ceo-agent

[submodule "cfo-agent"]
	path = boardroom/c-suite/cfo-agent
	url = https://github.com/ASISaga/cfo-agent

[submodule "cto-agent"]
	path = boardroom/c-suite/cto-agent
	url = https://github.com/ASISaga/cto-agent

[submodule "cmo"]
	path = boardroom/c-suite/cmo
	url = https://github.com/ASISaga/cmo

[submodule "ceo"]
	path = boardroom/c-suite/ceo
	url = https://github.com/ASISaga/ceo

[submodule "cfo"]
	path = boardroom/c-suite/cfo
	url = https://github.com/ASISaga/cfo

[submodule "coo"]
	path = boardroom/c-suite/coo
	url = https://github.com/ASISaga/coo

[submodule "cto"]
	path = boardroom/c-suite/cto
	url = https://github.com/ASISaga/cto

[submodule "cso"]
	path = boardroom/c-suite/cso
	url = https://github.com/ASISaga/cso

[submodule "chro"]
	path = boardroom/c-suite/chro
	url = https://github.com/ASISaga/chro

[submodule "founder"]
	path = boardroom/founder
	url = https://github.com/ASISaga/founder

[submodule "investor"]
	path = boardroom/investor
	url = https://github.com/ASISaga/investor

[submodule "mentor"]
	path = boardroom/mentor
	url = https://github.com/ASISaga/mentor

[submodule "businessagent"]
	path = boardroom/businessagent
	url = https://github.com/ASISaga/businessagent
