# Boardroom Agents submodules

[submodule "cmo-agent"]
	path = boardroom/c-suite/cmo-agent
	url = https://github.com/ASISaga/cmo-agent

[submodule "cso-agent"]
	path = boardroom/c-suite/cso-agent
	url = https://github.com/ASISaga/cso-agent

[submodule "ceo-agent"]
	path = boardroom/c-suite/ceo-agent
	url = https://github.com/ASISaga/ceo-agent

[submodule "cfo-agent"]
	path = boardroom/c-suite/cfo-agent
	url = https://github.com/ASISaga/cfo-agent

[submodule "cto-agent"]
	path = boardroom/c-suite/cto-agent
	url = https://github.com/ASISaga/cto-agent

[submodule "cmo"]
	path = boardroom/c-suite/cmo
	url = https://github.com/ASISaga/cmo

[submodule "ceo"]
	path = boardroom/c-suite/ceo
	url = https://github.com/ASISaga/ceo

[submodule "cfo"]
	path = boardroom/c-suite/cfo
	url = https://github.com/ASISaga/cfo

[submodule "coo"]
	path = boardroom/c-suite/coo
	url = https://github.com/ASISaga/coo

[submodule "cto"]
	path = boardroom/c-suite/cto
	url = https://github.com/ASISaga/cto

[submodule "cso"]
	path = boardroom/c-suite/cso
	url = https://github.com/ASISaga/cso

[submodule "chro"]
	path = boardroom/c-suite/chro
	url = https://github.com/ASISaga/chro

[submodule "founder-agent"]
	path = boardroom/founder-agent
	url = https://github.com/ASISaga/founder-agent

[submodule "investor"]
	path = boardroom/investor
	url = https://github.com/ASISaga/investor

[submodule "mentor"]
	path = boardroom/mentor
	url = https://github.com/ASISaga/mentor

[submodule "businessagent"]
	path = boardroom/businessagent
	url = https://github.com/ASISaga/businessagent
[submodule "boardroom/investor"]
	path = boardroom/investor
	url = https://github.com/ASISaga/investor
[submodule "Investor"]
	path = boardroom/Investor
	url = https://github.com/ASISaga/Investor
[submodule "Founder"]
	path = boardroom/Founder
	url = https://github.com/ASISaga/Founder
[submodule "Mentor"]
	path = boardroom/Mentor
	url = https://github.com/ASISaga/Mentor
[submodule "BusinessAgent"]
	path = boardroom/BusinessAgent
	url = https://github.com/ASISaga/BusinessAgent
[submodule "CEO"]
	path = boardroom/c-suite/CEO
	url = https://github.com/ASISaga/CEO
[submodule "CMO"]
	path = boardroom/c-suite/CMO
	url = https://github.com/ASISaga/CMO
[submodule "CFO"]
	path = boardroom/c-suite/CFO
	url = https://github.com/ASISaga/CFO
[submodule "COO"]
	path = boardroom/c-suite/COO
	url = https://github.com/ASISaga/COO
[submodule "CSO"]
	path = boardroom/c-suite/CSO
	url = https://github.com/ASISaga/CSO
[submodule "CHRO"]
	path = boardroom/c-suite/CHRO
	url = https://github.com/ASISaga/CHRO
[submodule "CTO"]
	path = boardroom/c-suite/CTO
	url = https://github.com/ASISaga/CTO
