[submodule "cmo-agent"]
	path = cmo-agent
	url = ./cmo-agent

[submodule "cso-agent"]
	path = cso-agent
	url = ./cso-agent

[submodule "ceo-agent"]
	path = ceo-agent
	url = https://github.com/ASISaga/ceo-agent

[submodule "cfo-agent"]
	path = cfo-agent
	url = ./cfo-agent

[submodule "cto-agent"]
	path = cto-agent
	url = ./cto-agent
